<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width: device-width, initial-scale=1">
    <title>LHIM</title>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/lhim.css" rel="stylesheet" />
</head>

<body>

    <header>

        <div id="headerContenido">

            <div class="btnBars">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div id="logo">
                <a href="#">
                    <img src="/images/logo.png" alt="Logo LHIM" />
                </a>
            </div>

            <nav id="menu">

                <div class="btnBuscar">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="btnUsuario">
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </div>

                <div class="btnCarrito">
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>

                <ul id="menuPrincipal">
                    <li>
                        <a href="#">
                            HOMBRES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            MUJERES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NIÑOS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NOSOTROS
                        </a>
                    </li>
                </ul>

            </nav>

        </div>

    </header>

    <main>

        <section id="banner">

        </section>

        <section id="destacados">

        </section>

        <section id="secciones">

        </section>

        <section id="newsletter">
            <div id="formNewsltter">

            </div>
        </section>


    </main>

    <footer>

        <section id="social">
            <h3>SOCIAL</h3>
            <ul>
                <li>
                    <a href="#">
                        FACEBOOK
                    </a>
                </li>
                <li>
                    <a href="#">
                        INSTAGRAM
                    </a>
                </li>
            </ul>
        </section>

        <section id="empresa">
            <h3>EMRPESA</h3>
            <ul>
                <li>
                    <a href="#">
                        ACERCA DE NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#">
                        TRABAJÁ CON NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACTANOS
                    </a>
                </li>
                <li>
                    <a href="#">
                        ACERCA DE NOSOTROS
                    </a>
                </li>
            </ul>
        </section>

        <section id="ayuda">
            <h3>AYUDA</h3>
            <ul>
                <li>
                    <a href="#">
                        PREGUNTAS FRECUENTES
                    </a>
                </li>
                <li>
                    <a href="#">
                        TERMINOS Y CONDICIONES
                    </a>
                </li>
                <li>
                    <a href="#">
                        POLÍTICAS DE CAMBIOS Y DEVOLUCIONES
                    </a>
                </li>
            </ul>
        </section>

        <section id="miCuenta">
            <h3>CUENTA</h3>
            <ul>
                <li>
                    <a href="#">
                        MI CUENTA
                    </a>
                </li>
                <li>
                    <a href="#">
                        HISTORIAL DE PEDIDOS
                    </a>
                </li>
            </ul>
        </section>


        <section id="mediosDePagos" class="block">
            <h3>MEDIOS DE PAGO</h3>
            <img src="/images/mediosPago.png" alt="Medios de Pago" />
        </section>

        <section id="derechosReservados" class="block">
            <p> © 2022 LHIM ®, Inc. Todos los derechos reservados.</p>
        </section>



    </footer>
</body>

</html>