<!DOCTYPE html>

<body>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width: device-width, initial-scale=1">
        <title>LHIM - Detalles del procuto</title>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;700;800&display=swap"
            rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
        <link href="/css/lhim.css" rel="stylesheet" />
    </head>

    <header>

        <div id="headerContenido">

            <div class="btnBars">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div id="logo">
                <a href="./">
                    <img src="/images/logo.png" alt="Logo LHIM" title="LHIM - ROPA DEPORTIVA" />
                </a>
            </div>

        </div>

    </header>
    <section>
        <h3> TUS COMPRAS </h3>

        <article class="compras">
            <div>
                <img src="/images/articulos/a6.jpg" alt="compra" class="artImgcarro">
            </div>
            <div class="artTitulo">
                <strong>
                    Short New Balance de Hombre - ACCELERATE 5 INCH -MS93187HOR - RED
                </strong>
            </div>
            <div class="artPrecio">
                <p>
                    $ 1.200
                </p>
            </div>
            <div class="artCantidad">
                <form action="productCart.html" method="POST">

                    <label for="cantidad"> Cantidad </label>
                    <input type="number" name="cantidad" id="cantidad">
                    <i class="fa-solid fa-trash-can"></i>


            </div>

            </articleclass="compras">

            <article class="compras">
                <div class="artImg">
                    <img src="/images/articulos/a1.jpg" alt="banner 1" class="artImgcarro" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre -Propel Remix V2 - MPRMXCK2 - BLACK
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 1.200
                    </p>
                </div>
                <div class="artCantidad">

                    <form action="productCart.html" method="POST">

                        <label for="cantidad"> Cantidad </label>
                        <input type="number" name="cantidad" id="cantidad">
                        <i class="fa-solid fa-trash-can"></i>


                </div>


            </article>

            <article class="compras">
                <div class="artImg">
                    <img src="/images/articulos/a2.jpg" alt="banner 1" class="artImgcarro" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre- M1080M12 - VIBRANT ORANGE
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 3.500
                    </p>
                </div>

                <div class="artCantidad">
                    <form action="productCart.html" method="POST">

                        <label for="cantidad"> Cantidad </label>
                        <input type="number" name="cantidad" id="cantidad">
                        <i class="fa-solid fa-trash-can"></i>

                </div>


            </article>

    </section>


    <div class="pagar">
        <p> Total Compra $ </p>
        <p class="PrecioTotal"> XXXX,xx </p>
        <input type="submit" value="PAGAR"></p>

    </div>
    <footer>

        <section id="newsletter" class="block">
            <div id="formNewsltter">
                <h3>Suscribite</h3>
                <div class="columna">
                    <input type="text" name="email" placeholder="Email" />
                    <input type="submit" class="btn" value="suscribirme" />
                </div>

            </div>
        </section>

        <section id="social">
            <h3>SOCIAL</h3>

            <a href="#">
                <i class="fa-brands fa-instagram" title="Encuentranos en Instagram!"></i>
            </a>
            | <a href="#" title="Encuentranos en Facebook!">
                <i class="fa-brands fa-facebook"></i>
            </a>

        </section>

        <section id="empresa">
            <h3>EMPRESA</h3>
            <ul>
                <li>
                    <a href="#">
                        ACERCA DE NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#">
                        TRABAJÁ CON NOSOTROS
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACTANOS
                    </a>
                </li>
                <li>
                    <a href="#">
                        ACERCA DE NOSOTROS
                    </a>
                </li>
            </ul>
        </section>

        <section id="ayuda">
            <h3>AYUDA</h3>
            <ul>
                <li>
                    <a href="#">
                        PREGUNTAS FRECUENTES
                    </a>
                </li>
                <li>
                    <a href="#">
                        TERMINOS Y CONDICIONES
                    </a>
                </li>
                <li>
                    <a href="#">
                        POLÍTICAS DE CAMBIOS Y DEVOLUCIONES
                    </a>
                </li>
            </ul>
        </section>

        <section id="miCuenta">
            <h3>CUENTA</h3>
            <ul>
                <li>
                    <a href="#">
                        MI CUENTA
                    </a>
                </li>
                <li>
                    <a href="#">
                        HISTORIAL DE PEDIDOS
                    </a>
                </li>
            </ul>
        </section>


        <section id="mediosDePagos" class="block">
            <h3>MEDIOS DE PAGO</h3>
            <img src="/images/mediosPago.png" alt="Medios de Pago" />
        </section>

        <section id="derechosReservados" class="block">
            <p> © 2022 LHIM ®, Inc. Todos los derechos reservados.</p>
        </section>

    </footer>

</body>

</html>