<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head', {title: 'Inicio'}) %>

	<body>
	
	<%- include('partials/header') %>
	<main>

				<section id="destacados">
					<h2 class="block">Estamos trabajando en la construccón de esta sección</h2>
				</section>
				
			
	
	</main>

	<%- include('partials/footer') %>
</body>	
</html>