<!DOCTYPE html>

<html>

<%- include('./partials/head')%>

<body>

<%- include('./partials/header)')%>

    <main>

        <section id="banner">
            <div id="contBanner">

                <img src="/images/banner/banner1.jpg" class="foto3" alt="banner 1" />

                <div class="arrowI">
                    <a href="#"> <i class="fas fa-caret-left"></i></a>
                </div>
                <div class="arrowD">
                    <a href="#"> <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="dot">
                    <a href="#"><i class="fa-solid fa-circle-dot"></i></a>
                    <a href="#"><i class="fa-solid fa-circle-dot"></i></a>
                    <a href="#"><i class="fa-solid fa-circle-dot activo"></i></a>
                </div>


            </div>


        </section>

        <section id="destacados">
            <h2 class="block"><i class="fas fa-gifts"></i> ofertas </h2>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a8.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Remera de Hombre Reef - AHEAD TEE - 0A2SPTIVO - Sin descripcion
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 990
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a2.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre- M1080M12 - VIBRANT ORANGE
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 3.500
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a6.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Short New Balance de Hombre - ACCELERATE 5 INCH -MS93187HOR - RED
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 1.200
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a1.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre -Propel Remix V2 - MPRMXCK2 - BLACK
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 1.200
                    </p>
                </div>

            </article>


        </section>

        <section id="secciones">

            <h2 class="block">¿Para quién compras? </h2>

            <article>
                <div class="artImg">
                    <img src="/images/categorias/m.jpg" alt="Mujeres" />
                </div>
            </article>

            <article>
                <div class="artImg">
                    <img src="/images/categorias/h.jpg" alt="Hombres" />
                </div>
            </article>

            <article>
                <div class="artImg">
                    <img src="/images/categorias/n.jpg" alt="Niños" />
                </div>
            </article>

        </section>


    </main>

<%-inlude ('./partials/footer')%>

</body>

</html>