<!DOCTYPE html>

<html>

<%- include('partials/head')%>

<body>

<%- include('partials/header')%>

    <main>  
        
            <h2 class="login-saludo">Iniciar sesión</h2>
            <% if(isLogged){ %> 
                Si esta logueado
                <% } %>    

        <section id="login-formulario">

            <div class="errores">
           
                <ul></ul>
    
            </div>

            <form action="/users/login" id="formLogin" name='formLogin' method="POST">
            
                <div class="columna">
                    <input type="email" id = "email" name="email" placeholder="Tu correo electrónico" title="Mi e-mail" />
                </div>

                <div class="columna">
                    <input type="password" id = "password" name="contrasena" placeholder="Tu contraseña"
                    title="Ingresa tu nueva contraseña"/>
                </div>

                <div class="columna">
                        <input type="checkbox" name="recordar"/> Recordarme
                   
                </div>

                <div class="columna-100">
                    <input type="submit" value="Enviar" title="¿Listo?" /> 
                </div>

                <div class="columna">
                    <br><br>
                    <a  href="#" >¿Olvidó su contraseña?</a> <br>
                    <a  href="/users/register" class="login-preguntas">¿Aún no te registraste?</a>

                </div>

               

            </form>
         
            <script src="/js/scriptLogin.js" type="text/javascript">
            </script>

        </section>

    </main>

    <%- include('partials/footer')%>

</body>

</html>