<!DOCTYPE html>

<body>

    <%-include ('./partials/head')%>

    <header>

        <div id="headerContenido">

            <div class="btnBars">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div id="logo">
                <a href="./">
                    <img src="/images/logo.png" alt="Logo LHIM" title="LHIM - ROPA DEPORTIVA" />
                </a>
            </div>
        </div>

    </header>
    <section id="productCart">

        <h3> MI lISTA DE PRODUCTOS </h3>
        <p> TOTAL DE ARTICULOS: 3</p>

        <article class="compras">
            <div class="cont1">
                <div class="artImg">
                    <img src="/images/articulos/a6.jpg" alt="" class="artImgcarro" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Short New Balance de Hombre - ACCELERATE 5 INCH -MS93187HOR - RED
                    </strong>
                </div>
            </div>
            <div class="cont1">
                <div class="artCantidad">
                    <div>
                        <input type="number" min="1" size="2" maxlength="2" placeholder="1" name="cantidad">
                    </div>
                    <div>
                        <a href="#" class="eliminar" title="Eliminar producto">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
            </div>
            <div class="artPrecio">
                <p>
                    $ 1.200
                </p>
            </div>

            </div>
            
        </article>

        <article class="compras">
            <div class="cont1">
                <div class="artImg">
                    <img src="/images/articulos/a1.jpg" alt="banner 1" class="artImgcarro" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre -Propel Remix V2 - MPRMXCK2 - BLACK
                    </strong>
                </div>
            </div>
            <div class="cont1">
                <div class="artCantidad">
                    <div>
                        <input type="number" min="1" placeholder="1" name="cantidad">
                    </div>
                    <div>
                        <a href="#" class="eliminar" title="Eliminar producto">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
            </div>
            <div class="artPrecio">
                <p>
                    $ 1.200
                </p>
            </div>

            </div>

        </article>

        <article class="compras">
            <div class="cont1">
                <div class="artImg">
                    <img src="/images/articulos/a2.jpg" alt="banner 1" class="artImgcarro" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre- M1080M12 - VIBRANT ORANGE
                    </strong>
                </div>
            </div>
            <div class="cont1">
                <div class="artCantidad">
                    <div>
                        <input type="number" min="1" placeholder="1" name="cantidad">
                    </div>
                    <div>
                        <a href="#" class="eliminar" title="Eliminar producto">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
            </div>
            <div class="artPrecio">
                <p>
                    $ 3.200
                </p>
            </div>
            </div>

        </article>

    </section>


    <div class="pagar">
        <p> Total a pagar: $ XXXX,xx</p>
        <input type="submit" value="PAGAR"></p>

    </div>
    
    <%-include ('./partials/footer')%>

</body>

</html>