<!DOCTYPE html>
<html>


<body>

    <%-include ('./partials/head')%>

    <%-include('./partials/header')%>

    <main>
        <h2>Pagina de Productos para completar</h2>
    </main>

    <%-include ('./partials/footer')%>

</body>

</html>