<!DOCTYPE html>

<%-include ('./partials/head')%>

<body>

    <header>

        <div id="headerContenido">

            <div class="btnBars">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div id="logo">
                <a href="./">
                    <img src="/images/logo.png" alt="Logo LHIM" title="LHIM - ROPA DEPORTIVA" />
                </a>
            </div>

            <div class="mPContent">

                <ul id="menuPrincipal">
                    <li>
                        <a href="#">
                            HOMBRES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            MUJERES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NIÑOS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NOSOTROS
                        </a>
                    </li>
                </ul>
            </div>

            <nav id="menu">
                <div class="btnBuscar">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="btnUsuario">
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </div>

                <div class="btnCarrito">
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>

            </nav>

        </div>


    </header>

    <main>

        <section id="productDetail">



            <article class="compras">
                <div class="cont1 smallImg">
                    <img src="/images/articulos/p1.jpg" alt="" class="artImgcarro" />
                    <img src="/images/articulos/p2.jpg" alt="" class="artImgcarro" />
                    <img src="/images/articulos/p3.jpg" alt="" class="artImgcarro" />

                </div>
                <div class="cont1">
                    <div class="artImg">
                        <img src="/images/articulos/p1.jpg" alt="" class="artImgcarro" />
                    </div>

                </div>
                <div class="cont1">
                    <div class="artInfo">
                        <h3>
                            Short New Balance de Hombre - ACCELERATE 5 INCH -MS93187HOR - RED
                        </h3>

                        <h3>
                            $ 1.200
                        </h3>
                        <p>
                            Descripción:

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia dolor eu laoreet
                            accumsan. Curabitur ullamcorper finibus sapien sit amet rutrum. Aenean eu quam ipsum.
                            Vivamus eu urna pellentesque, tempor orci vel, condimentum lacus. Aenean a quam sem. Aenean
                            a tortor elit. Phasellus faucibus blandit pharetra.

                        </p>

                        <div class="agregarCart">

                            <form action="./" method="get">
                                <select name="cantidad">
                                    <option value="1">Cant.: 1</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>

                                <select name="talle">
                                    <option value="">TALLES</option>
                                    <option value="Small">S</option>
                                    <option value="Medium">M</option>
                                    <option value="Large">L</option>
                                </select>

                                <input type="submit" value="Agregar al carrito">


                            </form>

                        </div>



                    </div>



                </div>

            </article>


        </section>


        <section id="destacados">
            <h2 class="block"> PRODUCTOS QUE TE PUEDEN INTERESAR </h2>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a8.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Remera de Hombre Reef - AHEAD TEE - 0A2SPTIVO - Sin descripcion
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 990
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a2.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre- M1080M12 - VIBRANT ORANGE
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 3.500
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a6.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Short New Balance de Hombre - ACCELERATE 5 INCH -MS93187HOR - RED
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 1.200
                    </p>
                </div>

            </article>

            <article>
                <div class="artImg">
                    <img src="/images/articulos/a1.jpg" alt="banner 1" />
                </div>
                <div class="artTitulo">
                    <strong>
                        Championes New Balance de Hombre -Propel Remix V2 - MPRMXCK2 - BLACK
                    </strong>
                </div>
                <div class="artPrecio">
                    <p>
                        $ 1.200
                    </p>
                </div>

            </article>


        </section>





    </main>

    <%-include ('./partials/footer')%>
    
</body>