<!DOCTYPE html>

<html>

    <%-include ('./partials/head')%>

<body>

    <header>

        <div id="headerContenido">

            <div class="btnBars">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div id="logo">
                <a href="./">
                    <img src="/images/logo.png" alt="Logo LHIM" title="LHIM - ROPA DEPORTIVA" />
                </a>
            </div>

            <div class="mPContent">

                <ul id="menuPrincipal">
                    <li>
                        <a href="#">
                            HOMBRES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            MUJERES
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NIÑOS
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            NOSOTROS
                        </a>
                    </li>
                </ul>
            </div>

            <nav id="menu">
                <div class="btnBuscar">
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="btnUsuario">
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </div>

                <div class="btnCarrito">
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </div>



            </nav>

        </div>

    </header>

    <main>

        <form action="#" name="formRegistrar" method="post">



            <section id="formulario">

                <h2 class="block"> Registrarme</h2>

                <div class="columna">
                    <input type="text" minlength="2" required name="nombre" placeholder="Ingrese su nombre (*)" title="Ingresa tu nombre" />
                </div>
                <div class="columna">
                    <input type="text" required name="apellido" placeholder="Ingrese su apellido  (*)" title="Ingresa tu apellido" />
                </div>
                <div class="columna">
                    <input type="email" required name="email" placeholder="micorreo@mail.com  (*)" title="Mi e-mail" />
                </div>
                <div class="columna">
                    <input type="password" required name="contrasena" placeholder="Nueva contraseña  (*)"
                        title="Ingresa tu nueva contraseña" />
                </div>

                <div class="columna">
                    <input type="date" required name="fecha" placeholder="" title="Fecha de nacimiento" />
                </div>


                <div class="columna">
                    <div>
                        <input type="radio" name="sexo" value="hombre" checked>
                    </div>
                    <div>
                        Hombre
                    </div>

                    <div>
                        <input type="radio" name="sexo" value="mujer">
                    </div>
                    <div>
                        Mujer
                    </div>
                </div>

                <div class="columna-100">
                    <input type="submit" value="Enviar" title="¿Listo?" /> 

                    <input type="reset" value="Cancelar" />
                </div>

            </section>
        </form>

    </main>

<%-include ('./partials/footer')%>

</body>

</html>