<!DOCTYPE html>

<html>

    <%- include('partials/head', {title: 'Inicio'}) %>

    <body>
    
    <%- include('partials/header') %>

    <main>

        <form action="/users/register" name="formRegistrar" method="POST">

            <section id="formulario">

                <h2 class="block"> Registrarme</h2>

                <div class="columna">
                    <input type="text" minlength="2" required name="firstname" id='firstname' placeholder="Ingrese su nombre (*)" title="Ingresa tu nombre" />
                </div>
                <div class="columna">
                    <input type="text" required name="lastname" id='lastname' placeholder="Ingrese su apellido  (*)" title="Ingresa tu apellido" />
                </div>
                <div class="columna">
                    <input type="email" required name="email" id='email' placeholder="micorreo@mail.com  (*)" title="Mi e-mail" />
                </div>
                <div class="columna">
                    <input type="password" required name="password" id='password' placeholder="Nueva contraseña  (*)"
                        title="Ingresa tu nueva contraseña" />
                </div>

                <div class="columna">
                    <input type="date" required name="birthdate" id='birthdate' placeholder="" title="Fecha de nacimiento" />
                </div>

                <div class="columna">
                    <input type="file" required name="avatar" id='avatar' placeholder="" accept=".jpg, .png" title="Seleccione su imagen de perfil" />
                </div>


                <div class="columna">
                    <div>
                        <input type="radio" name="gender" id='gender' value="hombre" checked>
                    </div>
                    <div>
                        Hombre
                    </div>

                    <div>
                        <input type="radio" name="gender" id='gender' value="mujer">
                    </div>
                    <div>
                        Mujer
                    </div>
                </div><br>

                <div class="columna-100">
                    <input type="submit" value="Enviar" title="¿Listo?" /> 

                    <input type="reset" value="Cancelar" />
                </div>

            </section>
        </form>

    </main>

<%- include('partials/footer') %>

</body>

</html>