<footer>

    <section id="newsletter" class="block">
        <div id="formNewsltter">
            <h3>Suscribite</h3>
            <div class="columna">
                <input type="text" name="email" placeholder="Email" />
                <input type="submit" class="btn" value="suscribirme" />
            </div>
            
        </div>
    </section>

    <section id="social">
        <h3>SOCIAL</h3>

        <a href="#">
            <i class="fa-brands fa-instagram" title="Encuentranos en Instagram!"></i>
        </a>
        | <a href="#" title="Encuentranos en Facebook!">
            <i class="fa-brands fa-facebook"></i>
        </a>

    </section>

    <section id="empresa">
        <h3>EMPRESA</h3>
        <ul>
            <li>
                <a href="#">
                    ACERCA DE NOSOTROS
                </a>
            </li>
            <li>
                <a href="#">
                    TRABAJÁ CON NOSOTROS
                </a>
            </li>
            <li>
                <a href="#">
                    CONTACTANOS
                </a>
            </li>
            <li>
                <a href="#">
                    ACERCA DE NOSOTROS
                </a>
            </li>
        </ul>
    </section>

    <section id="ayuda">
        <h3>AYUDA</h3>
        <ul>
            <li>
                <a href="#">
                    PREGUNTAS FRECUENTES
                </a>
            </li>
            <li>
                <a href="#">
                    TERMINOS Y CONDICIONES
                </a>
            </li>
            <li>
                <a href="#">
                    POLÍTICAS DE CAMBIOS Y DEVOLUCIONES
                </a>
            </li>
        </ul>
    </section>

    <section id="miCuenta">
        <h3>CUENTA</h3>
        <ul>
            <li>
                <a href="#">
                    MI CUENTA
                </a>
            </li>
            <li>
                <a href="#">
                    HISTORIAL DE PEDIDOS
                </a>
            </li>
        </ul>
    </section>


    <section id="mediosDePagos" class="block">
        <h3>MEDIOS DE PAGO</h3>
        <img src="/images/mediosPago.png" alt="Medios de Pago" />
    </section>

    <section id="derechosReservados" class="block">
        <p> © 2022 LHIM ®, Inc. Todos los derechos reservados.</p>
    </section>

</footer>