<header>

    <div id="headerContenido">

        <div class="btnBars">
            <a href="#">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div id="logo">
            <a href="./">
                <img src="/images/logo.png" alt="Logo LHIM" title="LHIM - ROPA DEPORTIVA" />
            </a>
        </div>

        <div class="mPContent">

            <ul id="menuPrincipal">
                <li>
                    <a href="#">
                        HOMBRES
                    </a>
                </li>
                <li>
                    <a href="#">
                        MUJERES
                    </a>
                </li>
                <li>
                    <a href="#">
                        NIÑOS
                    </a>
                </li>
                <li>
                    <a href="#">
                        NOSOTROS
                    </a>
                </li>
            </ul>
        </div>

        <nav id="menu">
            <div class="btnBuscar">
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>

            <div class="btnUsuario">
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
            </div>

            <div class="btnCarrito">
                <a href="#">
                    <i class="fas fa-shopping-basket"></i>
                </a>
            </div>

        </nav>

    </div>

</header>